html {
  scroll-behavior: smooth;
}

:root {
  --primaria: #6366f1;
  --secundaria: #7c3aed;
  --escuro: #0f172a;
  --claro: #e2e8f0;
  --vidro: rgba(255, 255, 255, 0.05);
  --borda: rgba(255, 255, 255, 0.15);
  --fonte: 'Poppins', sans-serif;
}

body {
  background-color: var(--escuro);
  color: var(--claro);
  font-family: var(--fonte);
  margin: 0;
  padding: 0;
}

.nome{
  text-align: right;
}


.navegacao {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(15, 23, 42, 0.9);
  backdrop-filter: blur(10px);
  padding: 25px 0;
  
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 48px;
  margin: 0;
  padding: 0;
}

.menu-link {
  color: var(--claro);
  text-decoration: none;
  font-weight: 600px;
  position: relative;
  transition: 0.3s;
}

.menu-link::after {
  content: '';
  height: 2px;
  width: 0;
  position: absolute;
  bottom: -4px;
  left: 0;
  background: linear-gradient(90deg, var(--primaria), var(--secundaria));
  transition: width 0.3s ease;
}

.menu-link:hover::after {
  width: 100%;
}

/* inicio*/
.inicio {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 60px;
}

.foto-perfil {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 3px solid var(--borda);
  box-shadow: 0 0 15px rgba(99, 102, 241, 0.3);
  
}

.titulo-principal{
  text-align: right;
  font-size: 2.2rem;
  margin: 20px 0 5px;
  
}

.h1{
  text-align: right;
}

.subtitulo {
  font-size: 1.1rem;
  color: #a5b4fc;
}

/* sobre */
.sobre {
  padding: 100px 20px;
}

.titulo-secao {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  
}

.caixa-sobre {
  max-width: 900px;
  margin: 0 auto;
  background: var(--vidro);
  border: 2px solid var(--borda);
  border-radius: 10px;
  padding: 40px;
  text-align: justify;
  line-height: 1.5;
  
}

/* projectos */
.projetos {
  padding: 100px 20px;
}

.projetos-caixa {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  cursor:pointer;
  
  
}

.projeto {
  background: var(--vidro);
  border: 1px solid var(--borda);
  border-radius: 12px;
  padding: 15px;
  
}

.projeto:hover {
  transform: translateY(-5px);
  
}

.projeto-titulo:hover{
    color: #fff;

}
.imagem-projeto {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.projeto h3 {
  margin: 15px 0 5px;
  color: var(--primaria);
}

.projeto p {
  font-size: 0.95rem;
  color: var(--claro);
}


.contactos {
  padding: 80px 20px;
  background: #0a0f1c;
  border: 1px solid var(--borda);
  border-radius: 10px;
  height: auto;
}

.contactos-coluna {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px;
  text-align: left;
}

.coluna h3 {
  color: var(--primaria);
  margin-bottom: 10px;
}

.coluna p, .coluna a {
  color: var(--claro);
  text-decoration: none;
  line-height: 1.8;
}

.coluna a:hover {
  color: var(--secundaria);
}

.copyright {
  text-align: center;
  margin-top: 40px;
  color: #94a3b8;
  font-size: 0.9rem;
}
